@import url("styles.css");
header {
  height: 100px;
}

/*******************
------- Main -------
********************/

main {
  max-width: var(--max-width);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(100vh - 100px);
}

main div,
img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

main img {
  height: 100%;
  object-fit: cover;
  mix-blend-mode: luminosity;
}

main div {
  z-index: 1;
  margin: auto;
}

main h3 {
  font-size: clamp(1.4rem, 0.8366rem + 2.4038vw, 3rem);
  background-color: var(--white-color);
  padding-inline: min(2rem, 4rem);
  padding-block: 2rem;
  border-radius: 0.8rem;
  margin-inline: 1rem;
}
